.Graph {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(128, 128, 128, 0.055);
  padding: 20px;
  box-sizing: border-box;
  .waiting-spinner {
    height: 550px;
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .options {
    z-index: 3;
    width: 270px;
    height: 60px;
    border: none;
    border-radius: 1px;
    padding: 8px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05);
    position: absolute;
    top: 8px;
    left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .input-container {
      input {
        cursor: pointer;
      }
      display: flex;
      align-items: center;
      &:active {
        background-color: rgba(230, 230, 230, 0.308);
        box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
      }
      label {
        margin-left: 8px;
        font-size: 10px;
      }
      // input {
      //   border: 1px solid red;
      // }
    }
  }
  .temp-types {
    input {
      cursor: pointer;
    }
    z-index: 3;
    width: 70px;
    height: 60px;
    border: none;
    border-radius: 1px;
    padding: 8px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05);
    position: absolute;
    top: 8px;
    left: 310px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .input-container {
      display: flex;
      align-items: center;

      &:active {
        background-color: rgba(230, 230, 230, 0.308);
        box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
      }
      label {
        margin-left: 8px;
        font-size: 10px;
      }
      // input {
      //   border: 1px solid red;
      // }
    }
  }
  .map-image--container {
    cursor: pointer;
    position: absolute;
    bottom: 8px;
    right: 10px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
  }
  .view-map {
    height: 140px;
    width: 140px;
    border-radius: 2px;
    border: 4px solid rgb(205, 205, 205);
    object-fit: cover;
    cursor: pointer;
  }
  .view---text {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
    padding: 7px;
    border-bottom-left-radius: 2px;
    background: white;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
    color: rgb(75, 73, 73);
    cursor: pointer;
  }
}
